In [1]:
import os,re
import pandas as pd

In [2]:
df = pd.read_csv("/Users/itaybd/Documents/Global_Mobility_Report.csv")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.columns

Index(['country_region_code', 'country_region', 'sub_region_1', 'sub_region_2',
       'metro_area', 'iso_3166_2_code', 'census_fips_code', 'date',
       'retail_and_recreation_percent_change_from_baseline',
       'grocery_and_pharmacy_percent_change_from_baseline',
       'parks_percent_change_from_baseline',
       'transit_stations_percent_change_from_baseline',
       'workplaces_percent_change_from_baseline',
       'residential_percent_change_from_baseline'],
      dtype='object')

In [4]:
df[df['country_region']=="Israel"].shape

(5117, 14)

In [5]:
set(df[df['country_region']=="Israel"]['sub_region_1'])

{'Center District',
 'Haifa District',
 'Jerusalem District',
 'North District',
 'South District',
 'Tel Aviv District',
 nan}

In [6]:
TA= df[(df['country_region']=="Israel") &  (df['sub_region_1']=='Tel Aviv District')]
TA.columns

Index(['country_region_code', 'country_region', 'sub_region_1', 'sub_region_2',
       'metro_area', 'iso_3166_2_code', 'census_fips_code', 'date',
       'retail_and_recreation_percent_change_from_baseline',
       'grocery_and_pharmacy_percent_change_from_baseline',
       'parks_percent_change_from_baseline',
       'transit_stations_percent_change_from_baseline',
       'workplaces_percent_change_from_baseline',
       'residential_percent_change_from_baseline'],
      dtype='object')

In [7]:
TA[["date",'workplaces_percent_change_from_baseline']].tail()

               date  workplaces_percent_change_from_baseline
1183033  2020-10-23                                    -33.0
1183034  2020-10-24                                    -18.0
1183035  2020-10-25                                    -40.0
1183036  2020-10-26                                    -39.0
1183037  2020-10-27                                    -39.0

In [8]:
df[df['country_region']=="United States"].shape

(641876, 14)

In [9]:
set(df[df['country_region']=="United States"]['sub_region_1'])

{'Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming',
 nan}

In [10]:
cols=['transit_stations_percent_change_from_baseline','workplaces_percent_change_from_baseline']

In [11]:
%%timeit
r1= df[cols[0]] - df[cols[1]]

8.38 ms ± 456 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [12]:
def minus(a,b):
    return a-b

In [13]:
%%timeit
r2 = minus(df[cols[0]].values,df[cols[1]].values)

12.8 ms ± 644 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [14]:
#%%timeit
#r3 = df.apply(lambda r: minus(r[cols[0]],r[cols[1]]),axis=1)

In [15]:
r1= df[cols[0]] - df[cols[1]]
r2 = pd.Series(minus(df[cols[0]].values,df[cols[1]].values))
r1.head(),r2.head(),type(r1),type(r2)

(0   -2.0
 1   -1.0
 2   -1.0
 3   -2.0
 4   -3.0
 dtype: float64,
 0   -2.0
 1   -1.0
 2   -1.0
 3   -2.0
 4   -3.0
 dtype: float64,
 pandas.core.series.Series,
 pandas.core.series.Series)

In [16]:
r1.shape

(2855089,)

In [17]:
f_n = "test_deathsNconfirmed_covid19_wUS.csv"
output_path = "/Users/itaybd/output_covid"
dfn = pd.read_csv(os.path.join(output_path,f_n),index_col="index")

In [18]:
list(dfn.columns)

['deaths',
 'daily_deaths',
 'Date',
 'Country_Province',
 'deaths_lag_1',
 'deaths_lag_7',
 'deaths_lag_14',
 'deaths_lag_28',
 'deaths_lag_56',
 'daily_deaths_ma_1',
 'daily_deaths_ma_1_lag_7',
 'daily_deaths_ma_1_lag_14',
 'daily_deaths_ma_1_lag_28',
 'daily_deaths_sum_1',
 'daily_deaths_sum_1_lag_7',
 'daily_deaths_sum_1_lag_14',
 'daily_deaths_sum_1_lag_28',
 'daily_deaths_std_1',
 'daily_deaths_std_1_lag_7',
 'daily_deaths_std_1_lag_14',
 'daily_deaths_std_1_lag_28',
 'daily_deaths_diff_1',
 'daily_deaths_diff_1_lag_7',
 'daily_deaths_diff_1_lag_14',
 'daily_deaths_diff_1_lag_28',
 'daily_deaths_local_cvt_1',
 'daily_deaths_local_cvt_1_lag_7',
 'daily_deaths_local_cvt_1_lag_14',
 'daily_deaths_local_cvt_1_lag_28',
 'daily_deaths_ma_7',
 'daily_deaths_ma_7_lag_7',
 'daily_deaths_ma_7_lag_14',
 'daily_deaths_ma_7_lag_28',
 'daily_deaths_sum_7',
 'daily_deaths_sum_7_lag_7',
 'daily_deaths_sum_7_lag_14',
 'daily_deaths_sum_7_lag_28',
 'daily_deaths_std_7',
 'daily_deaths_std_7_lag_7',
 'daily_deaths_std_7_lag_14',
 'daily_deaths_std_7_lag_28',
 'daily_deaths_diff_7',
 'daily_deaths_diff_7_lag_7',
 'daily_deaths_diff_7_lag_14',
 'daily_deaths_diff_7_lag_28',
 'daily_deaths_local_cvt_7',
 'daily_deaths_local_cvt_7_lag_7',
 'daily_deaths_local_cvt_7_lag_14',
 'daily_deaths_local_cvt_7_lag_28',
 'daily_deaths_ma_14',
 'daily_deaths_ma_14_lag_7',
 'daily_deaths_ma_14_lag_14',
 'daily_deaths_ma_14_lag_28',
 'daily_deaths_sum_14',
 'daily_deaths_sum_14_lag_7',
 'daily_deaths_sum_14_lag_14',
 'daily_deaths_sum_14_lag_28',
 'daily_deaths_std_14',
 'daily_deaths_std_14_lag_7',
 'daily_deaths_std_14_lag_14',
 'daily_deaths_std_14_lag_28',
 'daily_deaths_diff_14',
 'daily_deaths_diff_14_lag_7',
 'daily_deaths_diff_14_lag_14',
 'daily_deaths_diff_14_lag_28',
 'daily_deaths_local_cvt_14',
 'daily_deaths_local_cvt_14_lag_7',
 'daily_deaths_local_cvt_14_lag_14',
 'daily_deaths_local_cvt_14_lag_28',
 'daily_deaths_ma_28',
 'daily_deaths_ma_28_lag_7',
 'daily_deaths_ma_28_lag_14',
 'daily_deaths_ma_28_lag_28',
 'daily_deaths_sum_28',
 'daily_deaths_sum_28_lag_7',
 'daily_deaths_sum_28_lag_14',
 'daily_deaths_sum_28_lag_28',
 'daily_deaths_std_28',
 'daily_deaths_std_28_lag_7',
 'daily_deaths_std_28_lag_14',
 'daily_deaths_std_28_lag_28',
 'daily_deaths_diff_28',
 'daily_deaths_diff_28_lag_7',
 'daily_deaths_diff_28_lag_14',
 'daily_deaths_diff_28_lag_28',
 'daily_deaths_local_cvt_28',
 'daily_deaths_local_cvt_28_lag_7',
 'daily_deaths_local_cvt_28_lag_14',
 'daily_deaths_local_cvt_28_lag_28',
 'daily_deaths_ma_56',
 'daily_deaths_ma_56_lag_7',
 'daily_deaths_ma_56_lag_14',
 'daily_deaths_ma_56_lag_28',
 'daily_deaths_sum_56',
 'daily_deaths_sum_56_lag_7',
 'daily_deaths_sum_56_lag_14',
 'daily_deaths_sum_56_lag_28',
 'daily_deaths_std_56',
 'daily_deaths_std_56_lag_7',
 'daily_deaths_std_56_lag_14',
 'daily_deaths_std_56_lag_28',
 'daily_deaths_diff_56',
 'daily_deaths_diff_56_lag_7',
 'daily_deaths_diff_56_lag_14',
 'daily_deaths_diff_56_lag_28',
 'daily_deaths_local_cvt_56',
 'daily_deaths_local_cvt_56_lag_7',
 'daily_deaths_local_cvt_56_lag_14',
 'daily_deaths_local_cvt_56_lag_28',
 'confirmed',
 'daily_confirmed',
 'confirmed_lag_1',
 'confirmed_lag_7',
 'confirmed_lag_14',
 'confirmed_lag_28',
 'confirmed_lag_56',
 'daily_confirmed_ma_1',
 'daily_confirmed_ma_1_lag_7',
 'daily_confirmed_ma_1_lag_14',
 'daily_confirmed_ma_1_lag_28',
 'daily_confirmed_sum_1',
 'daily_confirmed_sum_1_lag_7',
 'daily_confirmed_sum_1_lag_14',
 'daily_confirmed_sum_1_lag_28',
 'daily_confirmed_std_1',
 'daily_confirmed_std_1_lag_7',
 'daily_confirmed_std_1_lag_14',
 'daily_confirmed_std_1_lag_28',
 'daily_confirmed_diff_1',
 'daily_confirmed_diff_1_lag_7',
 'daily_confirmed_diff_1_lag_14',
 'daily_confirmed_diff_1_lag_28',
 'daily_confirmed_local_cvt_1',
 'daily_confirmed_local_cvt_1_lag_7',
 'daily_confirmed_local_cvt_1_lag_14',
 'daily_confirmed_local_cvt_1_lag_28',
 'daily_confirmed_ma_7',
 'daily_confirmed_ma_7_lag_7',
 'daily_confirmed_ma_7_lag_14',
 'daily_confirmed_ma_7_lag_28',
 'daily_confirmed_sum_7',
 'daily_confirmed_sum_7_lag_7',
 'daily_confirmed_sum_7_lag_14',
 'daily_confirmed_sum_7_lag_28',
 'daily_confirmed_std_7',
 'daily_confirmed_std_7_lag_7',
 'daily_confirmed_std_7_lag_14',
 'daily_confirmed_std_7_lag_28',
 'daily_confirmed_diff_7',
 'daily_confirmed_diff_7_lag_7',
 'daily_confirmed_diff_7_lag_14',
 'daily_confirmed_diff_7_lag_28',
 'daily_confirmed_local_cvt_7',
 'daily_confirmed_local_cvt_7_lag_7',
 'daily_confirmed_local_cvt_7_lag_14',
 'daily_confirmed_local_cvt_7_lag_28',
 'daily_confirmed_ma_14',
 'daily_confirmed_ma_14_lag_7',
 'daily_confirmed_ma_14_lag_14',
 'daily_confirmed_ma_14_lag_28',
 'daily_confirmed_sum_14',
 'daily_confirmed_sum_14_lag_7',
 'daily_confirmed_sum_14_lag_14',
 'daily_confirmed_sum_14_lag_28',
 'daily_confirmed_std_14',
 'daily_confirmed_std_14_lag_7',
 'daily_confirmed_std_14_lag_14',
 'daily_confirmed_std_14_lag_28',
 'daily_confirmed_diff_14',
 'daily_confirmed_diff_14_lag_7',
 'daily_confirmed_diff_14_lag_14',
 'daily_confirmed_diff_14_lag_28',
 'daily_confirmed_local_cvt_14',
 'daily_confirmed_local_cvt_14_lag_7',
 'daily_confirmed_local_cvt_14_lag_14',
 'daily_confirmed_local_cvt_14_lag_28',
 'daily_confirmed_ma_28',
 'daily_confirmed_ma_28_lag_7',
 'daily_confirmed_ma_28_lag_14',
 'daily_confirmed_ma_28_lag_28',
 'daily_confirmed_sum_28',
 'daily_confirmed_sum_28_lag_7',
 'daily_confirmed_sum_28_lag_14',
 'daily_confirmed_sum_28_lag_28',
 'daily_confirmed_std_28',
 'daily_confirmed_std_28_lag_7',
 'daily_confirmed_std_28_lag_14',
 'daily_confirmed_std_28_lag_28',
 'daily_confirmed_diff_28',
 'daily_confirmed_diff_28_lag_7',
 'daily_confirmed_diff_28_lag_14',
 'daily_confirmed_diff_28_lag_28',
 'daily_confirmed_local_cvt_28',
 'daily_confirmed_local_cvt_28_lag_7',
 'daily_confirmed_local_cvt_28_lag_14',
 'daily_confirmed_local_cvt_28_lag_28',
 'daily_confirmed_ma_56',
 'daily_confirmed_ma_56_lag_7',
 'daily_confirmed_ma_56_lag_14',
 'daily_confirmed_ma_56_lag_28',
 'daily_confirmed_sum_56',
 'daily_confirmed_sum_56_lag_7',
 'daily_confirmed_sum_56_lag_14',
 'daily_confirmed_sum_56_lag_28',
 'daily_confirmed_std_56',
 'daily_confirmed_std_56_lag_7',
 'daily_confirmed_std_56_lag_14',
 'daily_confirmed_std_56_lag_28',
 'daily_confirmed_diff_56',
 'daily_confirmed_diff_56_lag_7',
 'daily_confirmed_diff_56_lag_14',
 'daily_confirmed_diff_56_lag_28',
 'daily_confirmed_local_cvt_56',
 'daily_confirmed_local_cvt_56_lag_7',
 'daily_confirmed_local_cvt_56_lag_14',
 'daily_confirmed_local_cvt_56_lag_28']

In [51]:
#basic functions
def minus(a,b):
    return a-b
def plus(a,b):
    return a+b
def divide(a,b):
    return a/b
def mul(a,b):
    return a*b

#df[m1+o["name"]+m2] = o["func"](df[m1].values,df[m2].values)
operators_l=[]
operators_l.append({"name": "_div_","func":divide})
dfn.shape

(91932, 216)

In [52]:
def feature_mixing(df, prefix1,prefix2, filter_strings1,filter_strings2,operators):
    added_cols = []
    def list_comp_str(c,lst):
        for st in lst:
            if c.find(st)>-1:
                return False
        return True

    mix1 = [c for c in df.columns if c[0:len(prefix1)] == prefix1 and list_comp_str(c,filter_strings1)]
    mix2 = [c for c in df.columns if c[0:len(prefix2)] == prefix2 and list_comp_str(c,filter_strings2)]
    for m1 in mix1:
        for m2 in mix2:
            for o in operators:
                df[m1+o["name"]+m2] = o["func"](df[m1].values,df[m2].values)
                added_cols.append(m1+o["name"]+m2)
    return added_cols

In [53]:
gfn = {k:v for k,v in dfn.groupby("Country_Province")}

In [54]:
gfn["Israel"].tail()

,deaths,daily_deaths,Date,Country_Province,deaths_lag_1,deaths_lag_7,deaths_lag_14,deaths_lag_28,deaths_lag_56,daily_deaths_ma_1,...,daily_confirmed_std_56_lag_14,daily_confirmed_std_56_lag_28,daily_confirmed_diff_56,daily_confirmed_diff_56_lag_7,daily_confirmed_diff_56_lag_14,daily_confirmed_diff_56_lag_28,daily_confirmed_local_cvt_56,daily_confirmed_local_cvt_56_lag_7,daily_confirmed_local_cvt_56_lag_14,daily_confirmed_local_cvt_56_lag_28
index,,,,,,,,,,,,,,,,,,,,,
42013,2397,25.0,20-10-25,Israel,2372.0,2209.0,1980.0,1466.0,919.0,25.0,...,2224.893898,2066.665029,-22.0,-391.0,171.0,3329.0,211.0,-787.0,-131.0,2843.0
42014,2453,56.0,20-10-26,Israel,2397.0,2263.0,2021.0,1507.0,939.0,56.0,...,2215.993074,2061.697608,-1671.0,-42.0,1467.0,624.0,-3456.0,-1165.0,-300.0,-822.0
42015,2483,30.0,20-10-27,Israel,2453.0,2278.0,2055.0,1528.0,957.0,30.0,...,2204.683857,2059.380149,-1069.0,-702.0,963.0,1893.0,-1538.0,-1887.0,-265.0,273.0
42016,2494,11.0,20-10-28,Israel,2483.0,2291.0,2098.0,1569.0,969.0,11.0,...,2200.227594,2189.086325,-2100.0,-770.0,288.0,6847.0,-3691.0,-1700.0,-740.0,5301.0
42017,2508,14.0,20-10-29,Israel,2494.0,2319.0,2127.0,1622.0,985.0,14.0,...,2199.103132,2280.553866,-2427.0,-1088.0,71.0,6356.0,-4150.0,-2298.0,-1203.0,4930.0

In [55]:
isr =  gfn["Israel"].copy()
isr[['daily_deaths_sum_7',
 'daily_deaths_sum_7_lag_7',
 'daily_deaths_sum_7_lag_14',
 'daily_deaths_sum_7_lag_28']].tail()

,daily_deaths_sum_7,daily_deaths_sum_7_lag_7,daily_deaths_sum_7_lag_14,daily_deaths_sum_7_lag_28
index,,,,
42013,188.0,229.0,261.0,210.0
42014,190.0,242.0,264.0,234.0
42015,205.0,223.0,258.0,243.0
42016,203.0,193.0,274.0,244.0
42017,189.0,192.0,263.0,244.0

In [56]:
prefix1 = "daily_deaths_sum_7"
prefix2 = "daily_confirmed_sum_7"
filter_strings1 =[]
filter_strings2 =[]
operators = operators_l
feature_mixing(isr, prefix1,prefix2, filter_strings1,filter_strings2,operators)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in true_divide
  import sys

['daily_deaths_sum_7_div_daily_confirmed_sum_7',
 'daily_deaths_sum_7_div_daily_confirmed_sum_7_lag_7',
 'daily_deaths_sum_7_div_daily_confirmed_sum_7_lag_14',
 'daily_deaths_sum_7_div_daily_confirmed_sum_7_lag_28',
 'daily_deaths_sum_7_lag_7_div_daily_confirmed_sum_7',
 'daily_deaths_sum_7_lag_7_div_daily_confirmed_sum_7_lag_7',
 'daily_deaths_sum_7_lag_7_div_daily_confirmed_sum_7_lag_14',
 'daily_deaths_sum_7_lag_7_div_daily_confirmed_sum_7_lag_28',
 'daily_deaths_sum_7_lag_14_div_daily_confirmed_sum_7',
 'daily_deaths_sum_7_lag_14_div_daily_confirmed_sum_7_lag_7',
 'daily_deaths_sum_7_lag_14_div_daily_confirmed_sum_7_lag_14',
 'daily_deaths_sum_7_lag_14_div_daily_confirmed_sum_7_lag_28',
 'daily_deaths_sum_7_lag_28_div_daily_confirmed_sum_7',
 'daily_deaths_sum_7_lag_28_div_daily_confirmed_sum_7_lag_7',
 'daily_deaths_sum_7_lag_28_div_daily_confirmed_sum_7_lag_14',
 'daily_deaths_sum_7_lag_28_div_daily_confirmed_sum_7_lag_28']

In [57]:
LL = list(isr.columns)[-10:]
isr[LL].tail()

,daily_deaths_sum_7_lag_7_div_daily_confirmed_sum_7_lag_14,daily_deaths_sum_7_lag_7_div_daily_confirmed_sum_7_lag_28,daily_deaths_sum_7_lag_14_div_daily_confirmed_sum_7,daily_deaths_sum_7_lag_14_div_daily_confirmed_sum_7_lag_7,daily_deaths_sum_7_lag_14_div_daily_confirmed_sum_7_lag_14,daily_deaths_sum_7_lag_14_div_daily_confirmed_sum_7_lag_28,daily_deaths_sum_7_lag_28_div_daily_confirmed_sum_7,daily_deaths_sum_7_lag_28_div_daily_confirmed_sum_7_lag_7,daily_deaths_sum_7_lag_28_div_daily_confirmed_sum_7_lag_14,daily_deaths_sum_7_lag_28_div_daily_confirmed_sum_7_lag_28
index,,,,,,,,,,
42013,0.009655,0.005310,0.038175,0.020688,0.011004,0.006052,0.030715,0.016646,0.008854,0.004870
42014,0.011141,0.005716,0.044184,0.024343,0.012154,0.006236,0.039163,0.021577,0.010772,0.005527
42015,0.011362,0.005120,0.046386,0.027129,0.013146,0.005924,0.043689,0.025552,0.012382,0.005580
42016,0.011340,0.004730,0.052541,0.031013,0.016100,0.006715,0.046788,0.027617,0.014337,0.005980
42017,0.012916,0.004640,0.054037,0.032687,0.017693,0.006356,0.050134,0.030326,0.016414,0.005897

In [58]:
prefix1 = "daily_deaths_sum_28"
prefix2 = "daily_deaths_sum_28"
filter_strings1 =["lag_28","lag_14"]
filter_strings2 =["lag_1","lag_7"]
operators = operators_l
feature_mixing(isr, prefix1,prefix2, filter_strings1,filter_strings2,operators)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in true_divide
  import sys
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in true_divide
  import sys

['daily_deaths_sum_28_div_daily_deaths_sum_28',
 'daily_deaths_sum_28_div_daily_deaths_sum_28_lag_28',
 'daily_deaths_sum_28_lag_7_div_daily_deaths_sum_28',
 'daily_deaths_sum_28_lag_7_div_daily_deaths_sum_28_lag_28']

In [59]:
LL = list(isr.columns)[-10:]
isr[LL].tail()

,daily_deaths_sum_7_lag_14_div_daily_confirmed_sum_7_lag_14,daily_deaths_sum_7_lag_14_div_daily_confirmed_sum_7_lag_28,daily_deaths_sum_7_lag_28_div_daily_confirmed_sum_7,daily_deaths_sum_7_lag_28_div_daily_confirmed_sum_7_lag_7,daily_deaths_sum_7_lag_28_div_daily_confirmed_sum_7_lag_14,daily_deaths_sum_7_lag_28_div_daily_confirmed_sum_7_lag_28,daily_deaths_sum_28_div_daily_deaths_sum_28,daily_deaths_sum_28_div_daily_deaths_sum_28_lag_28,daily_deaths_sum_28_lag_7_div_daily_deaths_sum_28,daily_deaths_sum_28_lag_7_div_daily_deaths_sum_28_lag_28
index,,,,,,,,,,
42013,0.011004,0.006052,0.030715,0.016646,0.008854,0.004870,1.0,1.702011,1.023631,1.742230
42014,0.012154,0.006236,0.039163,0.021577,0.010772,0.005527,1.0,1.665493,1.046512,1.742958
42015,0.013146,0.005924,0.043689,0.025552,0.012382,0.005580,1.0,1.672504,1.039791,1.739054
42016,0.016100,0.006715,0.046788,0.027617,0.014337,0.005980,1.0,1.541667,1.044324,1.610000
42017,0.017693,0.006356,0.050134,0.030326,0.016414,0.005897,1.0,1.390895,1.062077,1.477237

In [60]:
prefix1 = "daily_confirmed_sum_28"
prefix2 = "daily_confirmed_sum_28"
filter_strings1 =["lag_28","lag_14"]
filter_strings2 =["lag_1","lag_7"]
operators = operators_l
feature_mixing(isr, prefix1,prefix2, filter_strings1,filter_strings2,operators)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in true_divide
  import sys
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in true_divide
  import sys

['daily_confirmed_sum_28_div_daily_confirmed_sum_28',
 'daily_confirmed_sum_28_div_daily_confirmed_sum_28_lag_28',
 'daily_confirmed_sum_28_lag_7_div_daily_confirmed_sum_28',
 'daily_confirmed_sum_28_lag_7_div_daily_confirmed_sum_28_lag_28']

In [61]:
LL = list(isr.columns)[-10:]
isr[LL].tail()

,daily_deaths_sum_7_lag_28_div_daily_confirmed_sum_7_lag_14,daily_deaths_sum_7_lag_28_div_daily_confirmed_sum_7_lag_28,daily_deaths_sum_28_div_daily_deaths_sum_28,daily_deaths_sum_28_div_daily_deaths_sum_28_lag_28,daily_deaths_sum_28_lag_7_div_daily_deaths_sum_28,daily_deaths_sum_28_lag_7_div_daily_deaths_sum_28_lag_28,daily_confirmed_sum_28_div_daily_confirmed_sum_28,daily_confirmed_sum_28_div_daily_confirmed_sum_28_lag_28,daily_confirmed_sum_28_lag_7_div_daily_confirmed_sum_28,daily_confirmed_sum_28_lag_7_div_daily_confirmed_sum_28_lag_28
index,,,,,,,,,,
42013,0.008854,0.004870,1.0,1.702011,1.023631,1.742230,1.0,0.674495,1.459795,0.984625
42014,0.010772,0.005527,1.0,1.665493,1.046512,1.742958,1.0,0.665010,1.468654,0.976669
42015,0.012382,0.005580,1.0,1.672504,1.039791,1.739054,1.0,0.631804,1.507901,0.952698
42016,0.014337,0.005980,1.0,1.541667,1.044324,1.610000,1.0,0.540643,1.530736,0.827582
42017,0.016414,0.005897,1.0,1.390895,1.062077,1.477237,1.0,0.462076,1.612304,0.745007

In [62]:
import time
start_t = time.time()
for k in gfn.keys():
    prefix1 = "daily_deaths_sum_7"
    prefix2 = "daily_confirmed_sum_7"
    filter_strings1 =[]
    filter_strings2 =[]
    operators = operators_l
    a_c =feature_mixing(gfn[k], prefix1,prefix2, filter_strings1,filter_strings2,operators)
print("calc features time is %0.2f"%(time.time()-start_t))
print(a_c)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in true_divide
  import sys
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in true_divide
  import sys

calc features time is 6.03
['daily_deaths_sum_7_div_daily_confirmed_sum_7', 'daily_deaths_sum_7_div_daily_confirmed_sum_7_lag_7', 'daily_deaths_sum_7_div_daily_confirmed_sum_7_lag_14', 'daily_deaths_sum_7_div_daily_confirmed_sum_7_lag_28', 'daily_deaths_sum_7_lag_7_div_daily_confirmed_sum_7', 'daily_deaths_sum_7_lag_7_div_daily_confirmed_sum_7_lag_7', 'daily_deaths_sum_7_lag_7_div_daily_confirmed_sum_7_lag_14', 'daily_deaths_sum_7_lag_7_div_daily_confirmed_sum_7_lag_28', 'daily_deaths_sum_7_lag_14_div_daily_confirmed_sum_7', 'daily_deaths_sum_7_lag_14_div_daily_confirmed_sum_7_lag_7', 'daily_deaths_sum_7_lag_14_div_daily_confirmed_sum_7_lag_14', 'daily_deaths_sum_7_lag_14_div_daily_confirmed_sum_7_lag_28', 'daily_deaths_sum_7_lag_28_div_daily_confirmed_sum_7', 'daily_deaths_sum_7_lag_28_div_daily_confirmed_sum_7_lag_7', 'daily_deaths_sum_7_lag_28_div_daily_confirmed_sum_7_lag_14', 'daily_deaths_sum_7_lag_28_div_daily_confirmed_sum_7_lag_28']

In [63]:
def from_gf_to_df(frame,gf,cols):
    #frame[col] = frame.apply(lambda r: gf[r.name[0]].at[r.name[1],col],axis=1)
    if isinstance(cols,str):
        frame[cols] = pd.concat([gf[k][cols] for k in gf.keys()])
    else:
        for col in cols:
            frame[col] = pd.concat([gf[k][col] for k in gf.keys()])
#from_gf_to_df(frame,gf,[func_name]+[func_name+"_lag_%d"%lg2 for lg2 in lags2])

In [64]:
start_t2 = time.time()
from_gf_to_df(dfn,gfn,a_c)
print("from_gf_to_df time : %0.2f"%(time.time()- start_t2))

from_gf_to_df time : 0.66

In [65]:
gfn2 = {k:v for k,v in dfn.groupby("Country_Province")}

In [66]:
isr2 = gfn2["Israel"]

In [67]:
isr[['daily_deaths_sum_7',
 'daily_deaths_sum_7_lag_7',
 'daily_deaths_sum_7_lag_14',
 'daily_deaths_sum_7_lag_28']].tail()

,daily_deaths_sum_7,daily_deaths_sum_7_lag_7,daily_deaths_sum_7_lag_14,daily_deaths_sum_7_lag_28
index,,,,
42013,188.0,229.0,261.0,210.0
42014,190.0,242.0,264.0,234.0
42015,205.0,223.0,258.0,243.0
42016,203.0,193.0,274.0,244.0
42017,189.0,192.0,263.0,244.0

In [68]:
isr2[['daily_deaths_sum_7',
 'daily_deaths_sum_7_lag_7',
 'daily_deaths_sum_7_lag_14',
 'daily_deaths_sum_7_lag_28']].tail()

,daily_deaths_sum_7,daily_deaths_sum_7_lag_7,daily_deaths_sum_7_lag_14,daily_deaths_sum_7_lag_28
index,,,,
42013,188.0,229.0,261.0,210.0
42014,190.0,242.0,264.0,234.0
42015,205.0,223.0,258.0,243.0
42016,203.0,193.0,274.0,244.0
42017,189.0,192.0,263.0,244.0

In [69]:
isr["daily_deaths_sum_7_lag_7_div_daily_confirmed_sum_7_lag_14"].tail()

index
42013    0.009655
42014    0.011141
42015    0.011362
42016    0.011340
42017    0.012916
Name: daily_deaths_sum_7_lag_7_div_daily_confirmed_sum_7_lag_14, dtype: float64

In [70]:
isr2["daily_deaths_sum_7_lag_7_div_daily_confirmed_sum_7_lag_14"].tail()

index
42013    0.009655
42014    0.011141
42015    0.011362
42016    0.011340
42017    0.012916
Name: daily_deaths_sum_7_lag_7_div_daily_confirmed_sum_7_lag_14, dtype: float64

In [71]:
dfn.shape

(91932, 232)

In [72]:
"Country_Province" in dfn.columns

True

In [73]:
df_s = pd.read_csv("../output_covid/test_feature_mixing_covid19_wUS.csv")

In [74]:
df_s.shape

(91932, 241)

In [19]:
import wikipedia as wiki

In [20]:
p = wiki.page("List_of_countries_by_age_structure")

In [32]:
df = pd.read_html(p.html())[0]
for c in df.columns[1:]:
    df[c] = df.apply(lambda r: float(re.findall('[0-9]+\.[0-9]+',r[c])[0])*0.01,axis=1 )
df.columns

MultiIndex([(          'Country',     'Country'),
            ('Population by age',  '0 to 14[1]'),
            ('Population by age', '15 to 64[2]'),
            ('Population by age',  'Over 65[3]')],
           )

In [34]:
df[[('Country','Country'), ('Population by age',  'Over 65[3]')]][:50]

                             Country Population by age
                             Country        Over 65[3]
0                        Afghanistan             0.026
1                            Albania             0.132
2                            Algeria             0.062
3                             Angola             0.024
4                Antigua and Barbuda             0.069
5                          Argentina             0.112
6                            Armenia             0.112
7                Aruba (Netherlands)             0.131
8                          Australia             0.155
9                            Austria             0.192
10                        Azerbaijan             0.060
11                           Bahamas             0.090
12                           Bahrain             0.024
13                        Bangladesh             0.051
14                          Barbados             0.150
15                           Belarus             0.148
16                           Belgium             0.186
17                            Belize             0.039
18                             Benin             0.032
19                            Bhutan             0.049
20                           Bolivia             0.067
21            Bosnia and Herzegovina             0.166
22                          Botswana             0.039
23                            Brazil             0.086
24                            Brunei             0.046
25                          Bulgaria             0.208
26                      Burkina Faso             0.024
27                           Burundi             0.026
28                        Cape Verde             0.045
29                          Cambodia             0.044
30                          Cameroon             0.032
31                            Canada             0.170
32          Central African Republic             0.037
33                              Chad             0.025
34                             Chile             0.111
35                             China             0.106
36                          Colombia             0.076
37                           Comoros             0.030
38  Democratic Republic of the Congo             0.030
39             Republic of the Congo             0.034
40                        Costa Rica             0.095
41                           Croatia             0.197
42                              Cuba             0.147
43                           Curaçao             0.164
44                            Cyprus             0.134
45                    Czech Republic             0.190
46                           Denmark             0.197
47                          Djibouti             0.042
48                Dominican Republic             0.070
49                           Ecuador             0.071

In [26]:
state = pd.read_csv("/Users/itaybd/Documents/state_demographics.csv")
state.columns

Index(['State', 'Age.Percent 65 and Older', 'Age.Percent Under 18 Years',
       'Age.Percent Under 5 Years', 'Education.Bachelor's Degree or Higher',
       'Education.High School or Higher',
       'Employment.Nonemployer Establishments',
       'Employment.Private Non-farm Employment',
       'Employment.Private Non-farm Employment Percent Change',
       'Employment.Private Non-farm Establishments',
       'Ethnicities.American Indian and Alaska Native Alone',
       'Ethnicities.Asian Alone', 'Ethnicities.Black Alone',
       'Ethnicities.Hispanic or Latino',
       'Ethnicities.Native Hawaiian and Other Pacific Islander Alone',
       'Ethnicities.Two or More Races', 'Ethnicities.White Alone',
       'Ethnicities.White Alone, not Hispanic or Latino',
       'Housing.Homeownership Rate', 'Housing.Households',
       'Housing.Housing Units', 'Housing.Median Value of Owner-Occupied Units',
       'Housing.Persons per Household',
       'Housing.Units in Multi-Unit Structures',
       'Income.Median Houseold Income', 'Income.Per Capita Income',
       'Income.Persons Below Poverty Level', 'Miscellaneous.Building Permits',
       'Miscellaneous.Foreign Born', 'Miscellaneous.Land Area',
       'Miscellaneous.Language Other than English at Home',
       'Miscellaneous.Living in Same House +1 Years',
       'Miscellaneous.Manufacturers Shipments',
       'Miscellaneous.Mean Travel Time to Work',
       'Miscellaneous.Percent Female', 'Miscellaneous.Veterans',
       'Population.2010 Population', 'Population.2014 Population',
       'Population.Population Percent Change',
       'Population.Population per Square Mile',
       'Sales.Accommodation and Food Services Sales',
       'Sales.Merchant Wholesaler Sales', 'Sales.Retail Sales',
       'Sales.Retail Sales per Capita',
       'Employment.Firms.American Indian-Owned',
       'Employment.Firms.Asian-Owned', 'Employment.Firms.Black-Owned',
       'Employment.Firms.Hispanic-Owned',
       'Employment.Firms.Native Hawaiian and Other Pacific Islander-Owned',
       'Employment.Firms.Total', 'Employment.Firms.Women-Owned'],
      dtype='object')

In [28]:
state[['State','Age.Percent 65 and Older']]

                   State  Age.Percent 65 and Older
0          United States                      14.5
1                Alabama                      15.3
2                 Alaska                       9.4
3                Arizona                      15.9
4               Arkansas                      15.7
5             California                      12.9
6               Colorado                      12.7
7            Connecticut                      15.5
8               Delaware                      16.4
9   District Of Columbia                      11.3
10               Florida                      19.1
11               Georgia                      12.4
12                Hawaii                      16.1
13                 Idaho                      14.3
14              Illinois                      13.9
15               Indiana                      14.3
16                  Iowa                      15.8
17                Kansas                      14.3
18              Kentucky                      14.8
19             Louisiana                      13.6
20                 Maine                      18.3
21              Maryland                      13.8
22         Massachusetts                      15.1
23              Michigan                      15.4
24             Minnesota                      14.3
25           Mississippi                      14.3
26              Missouri                      15.4
27               Montana                      16.7
28              Nebraska                      14.4
29                Nevada                      14.2
30         New Hampshire                      15.9
31            New Jersey                      14.7
32            New Mexico                      15.3
33              New York                      14.7
34        North Carolina                      14.7
35          North Dakota                      14.2
36                  Ohio                      15.5
37              Oklahoma                      14.5
38                Oregon                      16.0
39          Pennsylvania                      16.7
40          Rhode Island                      15.7
41        South Carolina                      15.8
42          South Dakota                      15.3
43             Tennessee                      15.1
44                 Texas                      11.5
45                  Utah                      10.0
46               Vermont                      16.9
47              Virginia                      13.8
48            Washington                      14.1
49         West Virginia                      17.8
50             Wisconsin                      15.2
51               Wyoming                      14.0

In [41]:
u = wiki.page("Urbanization_by_country")
uf = pd.read_html(u.html())[0]
"""
for c in uf.columns[1:]:
    uf[c] = uf.apply(lambda r: float(re.findall('[0-9]+\.[0-9]+',r[c])[0])*0.01,axis=1 )
"""
uf.columns

Index(['Rank', 'Nation', 'Urban Population (%)', 'Date',
       'Urbanization Rate (%)', 'Period'],
      dtype='object')

In [42]:
c = 'Urban Population (%)'
def to_val(s):
    if len(re.findall('[0-9]+\.[0-9]+',str(s)))>0:
        return float(re.findall('[0-9]+\.[0-9]+',str(s))[0])*0.01
    else:
        return 1.0
        
uf[c] = uf.apply(lambda r: to_val(r[c]),axis=1 )
uf[['Nation', 'Urban Population (%)']][:30]

                                Nation  Urban Population (%)
0                               Kuwait                 1.000
1                               Monaco                 1.000
2                                Nauru                 1.000
3                            Singapore                 1.000
4                         Vatican City                 1.000
5                        Anguilla (UK)                 1.000
6                         Bermuda (UK)                 1.000
7                  Cayman Islands (UK)                 1.000
8                       Gibraltar (UK)                 1.000
9                    Hong Kong (China)                 1.000
10                       Macau (China)                 1.000
11          Sint Maarten (Netherlands)                 1.000
12                               Qatar                 0.992
13                             Belgium                 0.981
14                          San Marino                 0.975
15            U.S. Virgin Islands (US)                 0.959
16                             Uruguay                 0.955
17                           Guam (US)                 0.949
18                               Malta                 0.947
19                             Iceland                 0.939
20                    Puerto Rico (US)                 0.936
21       Turks and Caicos Islands (UK)                 0.936
22                              Israel                 0.926
23                         Netherlands                 0.922
24                           Argentina                 0.921
25       Northern Mariana Islands (US)                 0.918
26                               Japan                 0.918
27                          Luxembourg                 0.915
28                              Jordan                 0.914
29  Saint Pierre and Miquelon (France)                 1.000

In [49]:
us = wiki.page("Urbanization_in_the_United_States")
usf2 = pd.read_html(us.html())[0]
"""
for c in uf.columns[1:]:
    uf[c] = uf.apply(lambda r: float(re.findall('[0-9]+\.[0-9]+',r[c])[0])*0.01,axis=1 )
"""
usf2.head()

  The Urban Population as a Percentage of the Total Population by U.S. Region and State (1790-2010)  \
                                                                                    State/Territory
0                                   United States[2]
1                                       Northeast[2]
2                                         Midwest[2]
3                                           South[2]
4                                            West[2]

                                                                  ...         \
    2010   2000   1990   1980   1970   1960   1950   1940   1930  ...   1880
0  80.7%  79.0%  78.0%  73.7%  73.6%  69.9%  64.0%  56.5%  56.1%  ...  28.2%
1  85.0%  84.4%  84.0%  79.2%  80.5%  80.2%  79.5%  76.6%  77.6%  ...  50.8%
2  75.9%  74.7%  73.9%  70.5%  71.6%  68.7%  64.1%  58.4%  57.9%  ...  24.2%
3  75.8%  72.8%  71.5%  66.9%  64.8%  58.5%  48.6%  36.7%  34.1%  ...  12.2%
4  89.8%  88.6%  87.6%  83.9%  83.0%  77.7%  69.5%  58.5%  58.4%  ...  30.2%


    1870   1860   1850   1840   1830   1820   1810  1800  1790
0  25.7%  19.8%  15.4%  10.8%   8.8%   7.2%   7.3%  6.1%  5.1%
1  44.3%  35.7%  26.9%  18.5%  14.2%  11.0%  10.9%  9.3%  8.1%
2  20.8%  13.9%   9.2%   3.9%   2.6%   1.1%   0.9%  0.0%   NaN
3  12.2%   9.6%   8.3%   6.7%   5.3%   4.6%   4.1%  3.0%  2.1%
4  25.8%  16.0%   6.4%    NaN    NaN    NaN    NaN   NaN   NaN

[5 rows x 24 columns]

In [62]:
#usf2 = usf2.rename(columns={x:x[1] for x in usf2.columns})
usf2.columns = [x[1] for x in usf2.columns]

In [70]:
usf2.columns[0],usf2[['State/Territory','2010']][5:15]
usf3 = usf2[5:][['State/Territory','2010']]
usf3['State'] = usf3.apply(lambda r: re.findall('[A-Za-z\ \-]+',r['State/Territory'])[0],axis=1)
usf3[20:40]

       State/Territory   2010           State
25        Maryland[27]  87.2%        Maryland
26    Massachusetts[4]  92.0%   Massachusetts
27        Michigan[28]  74.6%        Michigan
28       Minnesota[29]  73.3%       Minnesota
29     Mississippi[30]  49.3%     Mississippi
30        Missouri[31]  70.4%        Missouri
31         Montana[32]  55.9%         Montana
32        Nebraska[33]  73.1%        Nebraska
33          Nevada[34]  94.2%          Nevada
34   New Hampshire[35]  60.3%   New Hampshire
35      New Jersey[36]  94.7%      New Jersey
36      New Mexico[37]  77.4%      New Mexico
37        New York[38]  87.9%        New York
38  North Carolina[39]  66.1%  North Carolina
39    North Dakota[40]  59.9%    North Dakota
40            Ohio[41]  77.9%            Ohio
41        Oklahoma[42]  66.2%        Oklahoma
42          Oregon[43]  81.0%          Oregon
43    Pennsylvania[44]  78.7%    Pennsylvania
44     Rhode Island[5]  90.7%    Rhode Island

In [75]:
df_all = pd.read_csv("../output_covid/test_feature_mixing_covid19_wUSM2.csv",index_col="index")

In [77]:
df_ind =  pd.read_csv("../output_covid/test_covid19_wUSN3_index.csv")

In [78]:
df_ind.head()

                           index  val
0  ('Afghanistan', '2020-01-22')    0
1  ('Afghanistan', '2020-01-23')    1
2  ('Afghanistan', '2020-01-24')    2
3  ('Afghanistan', '2020-01-25')    3
4  ('Afghanistan', '2020-01-26')    4

In [82]:
countries_l = set(df_ind.apply(lambda r: eval(r["index"])[0],axis=1))
countries_u = set(uf['Nation'])
mtch = countries_l.intersection(countries_u)
len(mtch)

171

In [84]:
us_d = list(usf3['State'])
us_du = set(["US_"+x for x in us_d])
len(countries_l),len(us_du.intersection(countries_1))

(326, 51)

In [85]:
usf3['State_us'] = "US_" + usf3['State']

In [91]:
ufn = uf[["Nation",'Urban Population (%)']]
ufn.head()
usf4 = usf3[["State_us","2010"]]
c="2010"
usf4[c] = usf4.apply(lambda r: float(re.findall('[0-9]+\.[0-9]+',r[c])[0])*0.01,axis=1 )
usf4.head()
usf4.columns = ["Country_Province","Urban Population Ratio"]
ufn.columns = ["Country_Province","Urban Population Ratio"]

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

        State_us   2010
5     US_Alabama  0.590
6      US_Alaska  0.660
7     US_Arizona  0.898
8    US_Arkansas  0.562
9  US_California  0.950